:root {
  --vp-c-brand-1: #000000;
  --vp-c-brand-2: #000000;
  --vp-c-brand-3: #000000;
}

.VPDoc .content {
  max-width: 720px;
}

.VPLocalNavOutlineDropdown {
  display: none;
}

@media screen and (max-width: 768px) {
  .VPNavScreenMenu {
    display: none;
  }
}
